In [1]:
import pandas as pd
import numpy as np
consumption = pd.read_csv(r"C:\Users\eymem\Documents\GitHub\Project-Beef\per-capita-meat-consumption-by-type-kilograms-per-year.csv")

In [2]:
consumption.head()

,Entity,Code,Year,Other meats,Sheep and goat,Beef and buffalo,Pigmeat,Poultry
0,Austria,AUT,1961,1.912140,0.490549,18.240416,41.025917,4.064549
1,Austria,AUT,1962,1.712259,0.480634,20.186634,42.085526,5.847715
2,Austria,AUT,1963,1.502613,0.410714,19.794418,41.712524,6.351043
3,Austria,AUT,1964,1.442713,0.360678,19.356396,43.501797,7.233602
4,Austria,AUT,1965,1.062127,0.370742,18.537117,43.968040,6.362740

In [3]:
consumption.shape

(1409, 8)

In [4]:
consumption["Year"].value_counts().sort_index()

Year
1961    19
1962    19
1963    19
1964    19
1965    19
        ..
2018    27
2019    27
2020    27
2021    27
2022    27
Name: count, Length: 62, dtype: int64

In [5]:
consumption = consumption[(consumption ['Year'] >= 2000) & (consumption['Year'] <= 2022)].copy()

In [6]:
consumption[consumption["Entity"] == "Austria"]["Year"].value_counts()

Year
2000    1
2001    1
2002    1
2003    1
2004    1
2005    1
2006    1
2007    1
2008    1
2009    1
2010    1
2011    1
2012    1
2013    1
2014    1
2015    1
2016    1
2017    1
2018    1
2019    1
2020    1
2021    1
2022    1
Name: count, dtype: int64

In [7]:
consumption["Entity"].value_counts()

Entity
Austria                23
Belgium                23
Bulgaria               23
Croatia                23
Cyprus                 23
Denmark                23
Estonia                23
European Union (27)    23
Finland                23
France                 23
Germany                23
Greece                 23
Hungary                23
Ireland                23
Italy                  23
Latvia                 23
Lithuania              23
Luxembourg             23
Malta                  23
Netherlands            23
Poland                 23
Portugal               23
Romania                23
Slovakia               23
Slovenia               23
Spain                  23
Sweden                 23
Name: count, dtype: int64

In [8]:
consumption_new = consumption.drop(columns=["Code", "Other meats", "Sheep and goat", "Pigmeat", "Poultry"],errors="ignore")

In [9]:
consumption_new.head()

     Entity  Year  Beef and buffalo
39  Austria  2000         19.507198
40  Austria  2001         18.675701
41  Austria  2002         18.914215
42  Austria  2003         18.664463
43  Austria  2004         18.283525

In [ ]:
pivot_df = df.pivot_table(index='country', columns='year', values=['GDP'], aggfunc='sum')

In [10]:
pd.crosstab(consumption_new["Year"], consumption_new["Entity"] )

Entity,Austria,Belgium,Bulgaria,Croatia,Cyprus,Denmark,Estonia,European Union (27),Finland,France,...,Luxembourg,Malta,Netherlands,Poland,Portugal,Romania,Slovakia,Slovenia,Spain,Sweden
Year,,,,,,,,,,,,,,,,,,,,,
2000,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2001,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2002,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2003,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2004,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2005,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2006,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2007,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2008,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2009,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2011,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2012,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2013,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2014,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2017,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2018,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2021,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2022,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
consumption_new.columns = consumption_new.columns.str.capitalize()

In [12]:
consumption_new.rename(columns={"Entity": "Country" , "Beef and buffalo": "Per Capita Beef Consump." }, inplace=True)

In [13]:
consumption_new["Country"] = consumption_new["Country"].replace({"European Union (27)": "European Union"})

In [14]:
consumption_new["Per Capita Beef Consump."].round(2)

39      19.51
40      18.68
41      18.91
42      18.66
43      18.28
        ...
1404    20.97
1405    23.33
1406    21.95
1407    21.68
1408    22.13
Name: Per Capita Beef Consump., Length: 621, dtype: float64

In [15]:
consumption_new.head()

    Country  Year  Per Capita Beef Consump.
39  Austria  2000                 19.507198
40  Austria  2001                 18.675701
41  Austria  2002                 18.914215
42  Austria  2003                 18.664463
43  Austria  2004                 18.283525

In [16]:
consumption_new = consumption_new.sort_values(["Country", "Year"]).reset_index(drop=True)

In [17]:
consumption_new.head()

   Country  Year  Per Capita Beef Consump.
0  Austria  2000                 19.507198
1  Austria  2001                 18.675701
2  Austria  2002                 18.914215
3  Austria  2003                 18.664463
4  Austria  2004                 18.283525

In [19]:
consumption_new.to_csv(r"C:\Users\eymem\Documents\GitHub\Project-Beef\consumption_new.csv",index=False)