# Project Beef
Data Aggregation and Grouping

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter

In [3]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\eymem\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\eymem\anaconda3\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in c:\users\eymem\anaconda3\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\eymem\anaconda3\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\eymem\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eymem\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eymem\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\eymem\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [4]:
consumption = pd.read_csv(r"C:\Users\eymem\Documents\GitHub\Project-Beef\consumption_new.csv")
price_year = pd.read_csv(r"C:\Users\eymem\Documents\GitHub\Project-Beef\price_year.csv")

In [5]:
pd.merge(consumption, price_year, on='Country', how='outer')

       Country  Year_x  Per Capita Beef Consump.  Year_y  Price €/100kg
0      Austria  2000.0                 19.507198    2000         241.43
1      Austria  2000.0                 19.507198    2001         204.86
2      Austria  2000.0                 19.507198    2002         225.99
3      Austria  2000.0                 19.507198    2003         227.54
4      Austria  2000.0                 19.507198    2004         230.69
...        ...     ...                       ...     ...            ...
12848   Sweden  2022.0                 22.130093    2018         411.74
12849   Sweden  2022.0                 22.130093    2019         386.44
12850   Sweden  2022.0                 22.130093    2020         408.69
12851   Sweden  2022.0                 22.130093    2021         452.68
12852   Sweden  2022.0                 22.130093    2022         486.12

[12853 rows x 5 columns]

In [6]:
consumption.merge(price_year, how = "outer")

     Country  Year  Per Capita Beef Consump.  Price €/100kg
0    Austria  2000                 19.507198         241.43
1    Austria  2001                 18.675701         204.86
2    Austria  2002                 18.914215         225.99
3    Austria  2003                 18.664463         227.54
4    Austria  2004                 18.283525         230.69
..       ...   ...                       ...            ...
635   Sweden  2018                 20.972963         411.74
636   Sweden  2019                 23.334547         386.44
637   Sweden  2020                 21.952366         408.69
638   Sweden  2021                 21.675540         452.68
639   Sweden  2022                 22.130093         486.12

[640 rows x 4 columns]